<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    
    <title>Rock Paper Scissors Game</title>
  </head>

  <body>
    <a href="http://localhost:3000/account/login">
      <button class="btn btn-danger m-3" type="button" style="color: white; width:100px;">Logout</button>
    </a>

    <div class="container d-flex justify-content-center" style="position: relative; top: -10px; width: 100%;">
      <h1 style="display: block;">Administrator Control Panel</h1> 
   </div>

    <div class="container d-flex justify-content-center" style="position: relative; top: 30px;">
        <div class="d-flex flex-column gap-3 col-8">
            <!-- <a href="http://localhost:3000/games">
              <button class="btn btn-primary" type="button" style="width: 100%;">Play the Game</button>
            </a> -->
            <a href="http://localhost:3000/account/admin/createadmin">
              <button class="btn btn-primary" type="button" style="width: 100%;">Create New Admin</button>
            </a>
            <a href="http://localhost:3000/account/admin/finduser">
              <button class="btn btn-primary" type="button" style="width: 100%;">Find User</button>
            </a>
            <a href="http://localhost:3000/account/admin/findadmin">
              <button class="btn btn-primary" type="button" style="width: 100%;">Find Admin</button>
            </a>
            <a href="http://localhost:3000/account/admin/handleFindAllUser">
              <button class="btn btn-primary" type="button" style="width: 100%;">User Database</button>
            </a>
            <a href="http://localhost:3000/account/admin/handleFindAllAdmin">
              <button class="btn btn-primary" type="button" style="width: 100%;">Admin Database</button>
            </a>            
        </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>