<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

    <title>Rock Paper Scissors Game</title>

    <!-- Linked CSS file -->
    <link rel="stylesheet" href="../public/css/index.css">
</head>

<body>
    <!-- SUBSCRIBE + FOOTER-->
    <div id="Newsletter" class="Newsletter container row">
        <!-- Subscribe -->
        <div class="newsText col-7 offset-5">
            <!-- Text -->
            <h3>
                Wants to stay in 
                <br>
                touch?
            </h3>
            <h1>
                NEWSLETTER
                <br>
                SUBSCRIBE
            </h1>
           <p>
               In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. we don't spam.
           </p>
            <!-- Akhir Text -->

            <!-- Form + Subscribe Button -->
             <form class="formEmail form-floating">
                <input type="email" class="form-control" id="floatingInputValue" value="youremail@binar.co.id" placeholder="youremail@binar.co.id">
                <label for="floatingInputValue">Your email address</label>
            </form>
            <button type="button" class="btn btn-warning">Subscribe now</button>
            <!-- Akhir Form + Subscribe Button -->
        </div>
        <!-- Akhir Subscribe -->

        <!-- Navbar Footer -->
        <nav class="navFooter navbar-expand-md">
            <div class= "footerContainer container-fluid row">
                <!-- Navigation Teks -->
                <div class="navText container col-6 offset-2">
                    <a class="nav-link" href="http://localhost:3000/">MAIN</a>    
                    <a class="nav-link" href="http://localhost:3000/about">ABOUT</a>
                    <a class="nav-link" href="http://localhost:3000/features">GAME FEATURES</a>
                    <a class="nav-link" href="http://localhost:3000/systemRequirements">SYSTEM REQUIREMENTS</a>
                    <a class="nav-link" href="http://localhost:3000/topScores">QUOTES</a>
                </div>
                <!-- Akhir Navigation Text -->

                <!-- Navigation Icon -->
                <div class="navIcon container col-4">
                    <a class="nav-link" href="#">
                        <i class="bi bi-facebook" style="color: white;"></i>
                    </a>  
                    <a class="nav-link" href="#">
                        <i class="bi bi-twitter" style="color: white;"></i>
                    </a>
                    <a class="nav-link" href="#">
                        <i class="bi bi-youtube" style="color: red;"></i>
                    </a>
                    <a class="nav-link" href="#">
                        <i class="bi bi-chat-square-dots" style="color: white;"></i>
                    </a>
                </div>
                <!-- Akhir Icon -->
            </div>
        </nav>
        <!-- Akhir Navbar Footer -->

        <!-- Footer -->
        <div class="footerNews container row">
            <div class="copyright col-5 offset-1">
                <p>&copy; 2018 Your Games, Inc. All Rights Reserved</p> 
            </div>
            <div class="footerLink col-5 text-end">
                <p>
                   <a href="">PRIVACY POLICY</a> | <a href="">TERMS OF SERVICES</a> | <a href="">CODE OF CONDUCT</a>
                </p>
            </div>
        </div>
        <!-- Akhir Footer -->
    </div>
    <!-- AKHIR SUBSCRIBE + FOOTER -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</body>